@import './_variables.scss';

.container-reset-password {
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        label {
            width: 77%;
            margin: 1rem 0 .8rem;
            font-weight: 900;
            text-align: left;
        }

        input {
            width: 80%;
            padding: .5rem .8rem;
            border: 2px solid $blue;
            border-radius: 1rem;
        }

        .errors {
            margin-top: 2rem;
            color: $red;
            font-weight: 900;
        }

        button {
            margin: 2rem;
            border: none;
            border-radius: 1rem;
            padding: .8rem 1rem;
            background-color: $blue;
            color: $white;
            font-family: $passion;
            font-size: 24px;
            cursor: pointer;
        }
    }
}