@import url('https://fonts.googleapis.com/css?family=Open+Sans|Passion+One|Baloo|Orbitron&display=swap');

$passion: "Passion One",
cursive;
$open-sans: "Open Sans",
sans-serif;
$baloo: "Baloo",
cursive;
$orbitron: "Orbitron",
serif;

$white: #ffffff;
$offwhite: #e6e6e6;
$black: #000000;
$gray: #3d5c5c;
$red: #990000;
$orange: #cc5200;
$yellow: #cccc00;
$green: #004d00;
$blue: #131241;